.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding: 0rem;
}

.p-0 {
  padding: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.m-0 {
  margin: 0rem;
}

.ml-1 {
  margin-left: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding: 1rem;
}

.p-1 {
  padding: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-1 {
  margin: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding: 2rem;
}

.p-2 {
  padding: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-2 {
  margin: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-3 {
  padding: 3rem;
}

.p-3 {
  padding: 3rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-3 {
  margin: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-4 {
  padding: 4rem;
}

.p-4 {
  padding: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.m-4 {
  margin: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-5 {
  padding: 5rem;
}

.p-5 {
  padding: 5rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.m-5 {
  margin: 5rem;
}

input[type=checkbox],
input[type=radio] {
  visibility: hidden;
  width: 0;
}
input[type=checkbox]:checked + label > svg,
input[type=radio]:checked + label > svg {
  fill: #f7941d;
}

svg {
  width: 2rem;
  fill: #002a38;
}

.navigation__icon {
  color: #ffffff;
}

.navigation__toggle-device_desktop {
  border-right: 2px solid #002a38;
}

.navigation__toggle-menu label {
  background-color: #900019;
}

.card__link, .card__link:link, .card__link:visited {
  color: #434343;
  border-color: transparent;
  border-radius: 6rem;
  padding: 0.5rem 3rem;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: #ffffff;
  transition: all 0.6s ease;
}
.card__link:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.card__link:active, .card__link:focus {
  outline: transparent;
}
.card__link:active {
  outline: transparent;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.form_button {
  line-height: 1.3rem;
  padding: 0.3rem;
  font-family: "Dosis", sans-serif;
  border: 1px solid #000000;
  border-radius: 0 !important;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  padding: 0.5rem;
  width: 30%;
}
.form_button:hover {
  opacity: 0.8;
}

.footer {
  background-color: #CC4A1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.footer__logo_image {
  height: 3rem;
}
.footer__navigation {
  display: flex;
}
.footer__navigation .nav_item-link {
  color: #ffffff;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1.3rem;
  position: relative;
}
.form_label span {
  color: #FF3100;
  margin-left: 0.3rem;
  font-weight: 700;
}
.form_input {
  line-height: 1.3rem;
  padding: 0.3rem;
  font-family: "Dosis", sans-serif;
  border: 1px solid #000000;
  border-radius: 0 !important;
}
.form_input:focus {
  line-height: 1.3rem;
  padding: 0.3rem;
  font-family: "Dosis", sans-serif;
  border: 1px solid #000000;
  border-radius: 0 !important;
  outline: none;
}
.form_textarea {
  line-height: 1.3rem;
  padding: 0.3rem;
  font-family: "Dosis", sans-serif;
  border: 1px solid #000000;
  border-radius: 0 !important;
}
.form_textarea:focus {
  line-height: 1.3rem;
  padding: 0.3rem;
  font-family: "Dosis", sans-serif;
  border: 1px solid #000000;
  border-radius: 0 !important;
  outline: none;
}
.form_status {
  font-size: 1.7rem;
  position: absolute;
  bottom: -2.5rem;
  right: 0;
}

.header {
  height: 90vh;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../../images/bgs/heading-banner.jpg");
  color: #002a38;
  position: sticky;
}
.header__text {
  height: 20rem;
  position: absolute;
  top: 45%;
  right: 4rem;
  transform: translate(0, -2rem);
  text-align: left;
}
.header__text-box {
  text-transform: uppercase;
}
.header__text-box_row-1 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation: nameAnimation 2s ease;
}
.header__text-box_row-2 {
  letter-spacing: 1.2rem;
  font-size: 1.4rem;
  animation: moveToRight 1s ease 2.2s;
  animation-fill-mode: backwards;
}
.header__nav {
  display: inline-block;
  position: relative;
  animation: moveUp 1s ease-in 3.5s backwards;
}
.header__nav_main-navigation {
  display: flex;
  font-size: 1.6rem;
}
.header__nav .header__scroll-btn {
  display: block;
  position: absolute;
  bottom: -6rem;
  left: 11rem;
}
.header__nav .header__scroll-btn svg {
  fill: #434343;
  height: 4rem;
  transition: all 0.6s ease;
}
.header__nav .header__scroll-btn svg:hover {
  transform: scale(1.2);
}

.navigation {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.navigation__left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.navigation__left .navigation__logo_image {
  height: 10vh;
}
.navigation__left .navigation__toggle-device {
  display: flex;
}

.nav_item {
  transition: all 0.4s ease;
  padding: 0.2rem 0.3rem;
  border-radius: 2px;
}
.nav_item:hover {
  transform: rotateZ(15deg) scale(1.3);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.section {
  color: #434343;
  position: relative;
}
.section__projects_details {
  display: flex;
  justify-content: center;
}
.section__about_text {
  font-size: 1.5rem;
  line-height: 2rem;
}
.section__heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
}

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 35rem;
  width: calc((100% - 16rem) / 3);
  background-color: #f7f7f7;
}
.card:hover .card__side_front {
  transform: rotateY(180deg);
}
.card:hover .card__side_back {
  transform: rotateY(0);
}
.card__side {
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  backface-visibility: hidden;
  box-shadow: 0.5rem 0.9rem 4rem rgba(0, 0, 0, 0.25);
  transition: all 1s ease;
}
.card__side_front {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.card__side_front .card__header {
  position: relative;
}
.card__side_front .card__header .card__heading {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
  color: #ffffff;
  padding: 0.2rem 0.6rem;
}
.card__side_front .card__header .card__heading_one {
  background-image: linear-gradient(to right bottom, rgba(17, 139, 148, 0.7), rgba(0, 42, 56, 0.7));
}
.card__side_front .card__header .card__heading_two {
  background-image: linear-gradient(to right bottom, rgba(250, 183, 100, 0.7), rgba(247, 148, 29, 0.7));
}
.card__side_front .card__header .card__heading_three {
  background-image: linear-gradient(to right bottom, rgba(255, 49, 0, 0.7), rgba(144, 0, 25, 0.7));
}
.card__side_front .card__details_list-item {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.card__side_front .card__technologies {
  position: absolute;
  bottom: 1rem;
  left: 0;
}
.card__side_front .card__technologies_heading {
  font-size: 1rem;
  text-transform: uppercase;
}
.card__side_front .card__technologies_list {
  display: flex;
}
.card__side_back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: rotateY(180deg);
}
.card__side_back--one {
  background-image: linear-gradient(to right bottom, #118b94, #002a38);
}
.card__side_back--two {
  background-image: linear-gradient(to right bottom, #fab764, #DD5426);
}
.card__side_back--three {
  background-image: linear-gradient(to right bottom, #ff8566, #900019);
}

.tech_icon {
  height: 2rem;
  width: 2rem;
}

.footer__media_image {
  height: 2rem;
}

.section__image {
  height: 90vh;
  background-size: cover;
  background-attachment: fixed;
}
.section__image_about {
  background-image: url(../../images/bgs/section_about.jpg);
  height: 28rem;
}
.section__image_contacts {
  background-image: url(../../images/bgs/section_contacts.jpg);
  height: 28rem;
}

.card__image {
  height: 15rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__images_container {
  position: relative;
  height: 20rem;
}
.card__images_container .card__images_one {
  position: absolute;
  top: 1rem;
  left: -8rem;
  transition: all 0.6s ease;
}
.card__images_container .card__images_one img {
  margin: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__images_container .card__images_one:hover {
  outline: 4px solid #ffffff;
  transform: scale(1.4) translateY(-0.5rem);
  box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.card__images_container .card__images_two {
  position: absolute;
  top: 6rem;
  left: -5rem;
  transition: all 0.6s ease;
}
.card__images_container .card__images_two img {
  margin: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__images_container .card__images_two:hover {
  outline: 4px solid #ffffff;
  transform: scale(1.4) translateY(-0.5rem);
  box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.card__images_container .card__images_three {
  position: absolute;
  top: 9rem;
  left: -9rem;
  transition: all 0.6s ease;
}
.card__images_container .card__images_three img {
  margin: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__images_container .card__images_three:hover {
  outline: 4px solid #ffffff;
  transform: scale(1.4) translateY(-0.5rem);
  box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.side-back_image {
  width: 12rem;
  height: 8rem;
}

.card__one_image {
  background-image: url("../../images/project_images/giphyMain.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.card__two_image {
  background-image: url("../../images/project_images/libraryMain.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.card__three_image {
  background-image: url("../../images/project_images/multilingoMain.png");
  background-size: cover;
}

@keyframes nameAnimation {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  50% {
    transform: translateX(0);
  }
  70% {
    transform: scale(1.8);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.6s;
}
.popup__container {
  width: 80%;
  height: 85vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
}
.popup__container_cancel {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  color: #434343;
  background-color: #f7f7f7;
  z-index: 9;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__container_cancel:hover {
  color: #f7941d;
  cursor: pointer;
}
.popup__container_content {
  height: 80%;
}
.popup__container_content .card__images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.popup__container_content .card__images img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7rem;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #434343;
}

li {
  list-style-type: none;
}

.trademark {
  color: #FF3100;
  position: absolute;
  bottom: 0.2rem;
  right: 0.3rem;
  font-size: 0.7rem;
}
.trademark-footer {
  top: -2rem;
  right: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
