.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.ml-0 {
  margin-left: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding: 0rem;
}

.p-0 {
  padding: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.m-0 {
  margin: 0rem;
}

.ml-1 {
  margin-left: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding: 1rem;
}

.p-1 {
  padding: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-1 {
  margin: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding: 2rem;
}

.p-2 {
  padding: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-2 {
  margin: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-3 {
  padding: 3rem;
}

.p-3 {
  padding: 3rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-3 {
  margin: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-4 {
  padding: 4rem;
}

.p-4 {
  padding: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.m-4 {
  margin: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-5 {
  padding: 5rem;
}

.p-5 {
  padding: 5rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.m-5 {
  margin: 5rem;
}

input[type=checkbox],
input[type=radio] {
  visibility: hidden;
  width: 0;
}
input[type=checkbox]:checked + label > svg,
input[type=radio]:checked + label > svg {
  fill: #f7941d;
}

svg {
  width: 2rem;
  fill: #002a38;
}

.navigation__icon {
  color: #ffffff;
}

.navigation__toggle-device_desktop {
  border-right: 2px solid #002a38;
}

.navigation__toggle-menu {
  background-color: #900019;
}

.header {
  height: 90vh;
  background-image: url("../../images/bgs/heading-banner.jpg");
  background-size: cover;
  color: #002a38;
  position: sticky;
}
.header__text {
  height: 20rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translate(0, -2rem);
  text-align: left;
}
.header__text-box {
  text-transform: uppercase;
}
.header__text-box_row-1 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
}
.header__text-box_row-2 {
  letter-spacing: 1.2rem;
  font-size: 1.4rem;
}
.header__text_nav {
  display: inline-block;
  position: relative;
}
.header__text_nav ul {
  display: flex;
  font-size: 1.6rem;
}
.header__text_nav .header__scroll-btn {
  display: block;
  position: absolute;
  bottom: -6rem;
  left: 11rem;
}
.header__text_nav .header__scroll-btn svg {
  fill: #434343;
  height: 4rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.navigation__left .navigation__logo_image {
  height: 10vh;
}
.navigation__left .navigation__toggle-device {
  display: flex;
}

section {
  color: #434343;
}

.section__heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
}

.section__projects_details {
  display: flex;
  justify-content: center;
}

.card {
  width: calc((100% - 20rem) / 3);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.9rem 1rem rgba(0, 0, 0, 0.5);
}
.card__side-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35rem;
}
.card__side-one .card__header {
  position: relative;
}
.card__side-one .card__header .card__image {
  height: 10rem;
  border: 1px solid blue;
}
.card__side-one .card__header .card__heading {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1rem;
  position: absolute;
  top: 7rem;
  left: 4.7rem;
}
.card__side-one .card__technologies .card__technologies_heading {
  font-size: 1rem;
  text-transform: uppercase;
}
.card__side-one .card__technologies .card__technologies_list {
  display: flex;
}
.card__side-two {
  height: 35rem;
}
.card__side-two .card__images {
  position: relative;
}
.card__side-two .card__images .card__image_one {
  position: absolute;
  top: 2rem;
  left: 3.8rem;
}
.card__side-two .card__images .card__image_one img {
  margin: 10px;
}
.card__side-two .card__images .card__image_one:hover {
  outline: 0.5rem solid #002a38;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.card__side-two .card__images .card__image_two {
  position: absolute;
  top: 5rem;
  left: 8.5rem;
}
.card__side-two .card__images .card__image_two img {
  margin: 10px;
}
.card__side-two .card__images .card__image_two:hover {
  outline: 0.5rem solid #002a38;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.card__side-two .card__images .card__image_three {
  position: absolute;
  top: 7rem;
  left: 2.5rem;
}
.card__side-two .card__images .card__image_three img {
  margin: 10px;
}
.card__side-two .card__images .card__image_three:hover {
  outline: 0.5rem solid #002a38;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.card__side-two .side-two_image {
  height: 7rem;
}
.tech_icon {
  height: 2rem;
  width: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #434343;
}

li {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
