input[type="checkbox"],
input[type="radio"] {
	visibility: hidden;
	width: 0;

	&:checked+label>svg {
		fill: $secondary-color;
	}
}

svg {
	width: $navigation-items-height / 2;
	fill: $primary-color;
}

.navigation__icon {
	color: $secondary-font-color;
}

.navigation__toggle-device_desktop {
	border-right: 2px solid $primary-color;
}

.navigation__toggle-menu label {
	background-color: $tertiary-color;
}

.card__link {
	&,
	&:link,
	&:visited {
		position: absolute;
		bottom: 7rem;
		left: 50%;
		transform: translateX(-50%);
		color: $main-font-color;
		border-color: transparent;
		border-radius: 6rem;
		padding: .5rem 2rem;
		text-transform: uppercase;
		font-family: 'Dosis', sans-serif;
		font-size: .7rem;
		font-weight: 600;
		background-color: $white-color;
		transition: all .6s ease;

		@include respond(tablet-landscape) {
			padding: .5rem 1.3rem;
		}
	}

		&:hover {
			transform: translateY(-3px);
			box-shadow: 0 1rem 2rem rgba($black-color, .5);
		}

	&:active,
	&:focus {
		outline: transparent;
	}

	&:active {
		outline: transparent;
		transform: translateY(-1px);
		box-shadow: 0 .5rem 1rem rgba($black-color, .5);
	}
}

.form_button {
	@include formText;
	color: $white-color;
	background-color: $black-color;
	border: 1px solid $black-color;
	padding: .5rem;
	width: 30%;

	&:hover {
		opacity: .8;
	}
}

