.card {
	width: $cardWidth;
	border-radius: 5px;
	background-color: $white-color;
	box-shadow: .5rem .9rem 1rem rgba($black-color, .5);
	
	&__side_front {
		@include spaceBetweenColumn;
		height: 35rem;
		.card__header {
			position: relative;
			
			.card__heading {
				font-size: 1rem;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: .8rem;
				position: absolute;
				bottom: .8rem;
				right: .8rem;
				color: $secondary-font-color;
				padding: .2rem .6rem;
				
				&_one {
					background-image: linear-gradient(to right bottom,rgba(#118b94, .7), rgba(#002a38, .7));
				}

				&_two {
					background-image: linear-gradient(to right bottom,rgba(#fab764, .7), rgba(#DD5426, .7));
				}

				&_three {
					background-image: linear-gradient(to right bottom,rgba(#ff8566, .7), rgba(#900019, .7));
				}
			}
		}

		.card__details {
			&_list-item {
				font-size: .9rem;
				line-height: 1.4rem;
			}
		}
		
		.card__technologies {
			.card__technologies_heading {
				font-size: 1rem;
				text-transform: uppercase;
			}
			.card__technologies_list {
				display: flex;
			}
		}
	}

	&__side_back {
		height: 35rem;

		&--one {
			background-image: linear-gradient(to right bottom, #118b94, #002a38);
		}

		&--two {
			background-image: linear-gradient(to right bottom,#fab764, #DD5426);
		}

		&--three {
			background-image: linear-gradient(to right bottom,#ff8566, #900019);
		}
	}
}
