.card {
	perspective: 100rem;
	-moz-perspective: 100rem;
	position: relative;
	height: 40rem;
	width: $cardWidth;
	background-color: $background-color;

	@include respond(tablet-landscape) {
		width: $cardWidthTabletLandscape;
		margin: 0 1rem;
		height: 70rem;
	}

	@include respond(phone) {
		width: 100%;
		margin: 3rem 0;
	}

	&:hover &__side_front {
		transform: rotateY(180deg);

		@include respond(phone) {
			transform: rotateY(0);
		}
	}

	&:hover &__side_back {
		transform: rotateY(0);
	}

	&__side {
		height: 40rem;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		border-radius: 5px;
		backface-visibility: hidden;
		box-shadow: .5rem .9rem 4rem rgba($black-color, .25);
		transition: all 3s ease;
		overflow: hidden;

		@include respond(phone) {
			width: 100%;
			box-shadow: .5rem .9rem 4rem rgba($black-color, .25);
			position: static;
			border-radius: 0;
		}

		&_front {
			background-color: $white-color;
			height: 40rem;

			@include respond(phone) {
				padding: 0;
				right: 2rem;
			}

			.card__header {
				position: relative;

				.card__heading {
					font-size: 1.3rem;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: .8rem;
					text-align: right;
					position: absolute;
					bottom: 1rem;
					right: 1rem;
					width: 70%;
					color: $secondary-font-color;

					@include respond(phone) {
						padding: .4rem 0;
						right: 2rem;
					}

					&_one {
						background-image: linear-gradient(to right bottom, rgba($primary-color-light, .9), rgba($primary-color, .9));
					}

					&_two {
						background-image: linear-gradient(to right bottom, rgba($secondary-color-light, .9), rgba($secondary-color, .9));
					}

					&_three {
						background-image: linear-gradient(to right bottom, rgba($tertiary-color-light, .9), rgba($tertiary-color, .9));
					}
				}

			}

			.card__details {
				&_row {
					font-size: 1.1rem;
					line-height: 1.7rem;

					@include respond(tablet-portray) {
						line-height: 1.5rem;
					}

					@include respond(phone) {
						font-size: 1.5rem;
						line-height: 1.7rem;
						text-align: justify;
						padding: .2rem;
					}
				}
			}

			.card__technologies {
				position: absolute;
				bottom: .8rem;
				left: 1rem;

				@include respond(phone) {
					position: static;
				}

				&_heading {
					font-size: .8rem;
					text-transform: uppercase;
				}
				&_list {
					display: flex;
				}
			}
			}

			&_back {
				transform: rotateY(-180deg);
				overflow: visible;
				height: 40rem;

				@include respond(phone) {
					height: 30rem;
					transform: rotateY(0);
				}

				&--one {
					background-image: linear-gradient(to right bottom, #118b94, #002a38);
				}

				&--two {
					background-image: linear-gradient(to right bottom,#fab764, #DD5426);
				}

				&--three {
					background-image: linear-gradient(to right bottom,#ff8566, #900019);

				.card__image_container .card__image .side-back_image {
					@include respond(tablet-landscape) {
						height: 8rem;
					}
				}
				}
			}
	}
}
