.card {
	perspective: 100rem;
	-moz-perspective: 100rem;
	position: relative;
	height: 35rem;
	width: $cardWidth;
	background-color: $background-color;
	
	&:hover &__side_front {
		transform: rotateY(180deg);
	}
	
	&:hover &__side_back {
		transform: rotateY(0);
	}
	
	&__side {
		height: 35rem;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		border-radius: 5px;
		backface-visibility: hidden;
		box-shadow: .5rem .9rem 4rem rgba($black-color, .25);
		transition: all 1s ease;
		
		&_front {
			display: flex;
			flex-direction: column;
			background-color: $white-color;

			.card__header {
				position: relative;
				
				.card__heading {
					font-size: 1rem;
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: .8rem;
					position: absolute;
					bottom: .8rem;
					right: .8rem;
					color: $secondary-font-color;
					padding: .2rem .6rem;
					
					&_one {
						background-image: linear-gradient(to right bottom, rgba($primary-color-light, .7), rgba($primary-color, .7));
					}
	
					&_two {
						background-image: linear-gradient(to right bottom, rgba($secondary-color-light, .7), rgba($secondary-color, .7));
					}
	
					&_three {
						background-image: linear-gradient(to right bottom, rgba($tertiary-color-light, .7), rgba($tertiary-color, .7));
					}
				}
				
			}
			
			.card__details {
				&_list-item {
					font-size: .9rem;
					line-height: 1.4rem;
				}
			}
			
			.card__technologies {
				position: absolute;
				bottom: 1rem;
				left: 0;

				&_heading {
					font-size: 1rem;
					text-transform: uppercase;
				}
				&_list {
					display: flex;
				}
			}
			}

			&_back {
				transform: rotateY(180deg);
		
				&--one {
					background-image: linear-gradient(to right bottom, #118b94, #002a38);
				}
		
				&--two {
					background-image: linear-gradient(to right bottom,#fab764, #DD5426);
				}
		
				&--three {
					background-image: linear-gradient(to right bottom,#ff8566, #900019);
				}
			}
	}
}
