.footer {
	background-color: #CC4A1E;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-top: .5rem;

	@include respond(phone) {
		padding: .5rem;
	}

	&__logo {
		&_link {
			position: relative;
			display: inline-block;

			&:hover .footer__logo_tooltip {
				opacity: 1;
			}
		}

		&_image {
			height: 3rem;

			@include respond(phone) {
				height: 6vh;
			}
		}

		&_tooltip {
			position: absolute;
			top: -.2rem;
			left: 2.8rem;
			z-index: 1;
			opacity: 0;
			width: 5rem;
			background-color: $white-color;
			color: $secondary-color;
			font-size: .8rem;
			font-weight: 700;
			text-align: center;
			border-radius: 6px;
			box-shadow: 10px 2px 1rem rgba($black-color, .2);
			transition: opacity .6s;
		}
	}

	&__navigation {
			display: flex;

			.nav_item {
				@include respond(phone) {
					margin-right: .5rem;
				}

				&-link {
					color: $secondary-font-color;
					font-size: 1.2rem;
				}
			}
		}
	&__media {
		display: flex;
	}
}