.tech_icon {
	height: 1.8rem;
}

.footer__media_image {
		height: 2rem;
}

.section__image {
	@include fixedBackground;
	@include respond(phone) {
		height: 40rem;
	}

	&_about {
		@include sectionImage('../../images/bgs/section_about.jpg');
	}

	&_contacts {
		@include sectionImage('../../images/bgs/section_contacts.jpg');
	}
}

.card__background {
	height: 18rem;
	background-blend-mode: screen;
	background-size: cover;
	background-position: center;

	@include respond(tablet-landscape) {
		background-size: contain;
		background-repeat: no-repeat;
		height: 12rem;

		@include respond(phone) {
			height: 24rem;
		}
	}

		&-one {
			background-image: url('../../images/project_images/giphyMain.gif');
			background-color: $primary-color;
		}

		&-two {
			background-image: url('../../images/project_images/libraryMain.jpg');
			background-color: $secondary-color;
		}

		&-three {
			background-image: url('../../images/project_images/multilingoMain.png');
			background-color: $tertiary-color;
		}
	}

	.card__image_container {
		position: relative;
		width: 100%;
		height: 27rem;

		.card__image {
			position: absolute;
			transition: all .6s ease;

			&_one {
				top: 4rem;
				left: 55%;
				transform: translateX(-50%);

				@include respond(phone) {
					left: 27%;
				}
			}

			&_two {
				top: 8rem;
				left: 45%;
				transform: translateX(-50%);

				@include respond(phone) {
					top: 4rem;
					left: 50%;
					z-index: 99;
				}
			}

			&_three {
				top: 13rem;
				left: 55%;
				transform: translateX(-50%);

				@include respond(phone) {
					left: 72%;
					top: 4rem;
				}
			}

			.side-back_image {
				@include compositionImage;
				transition: all .6s;

				&:hover {
					@include compositionImageHover();
				}
			}
		}
	}
