.tech_icon {
	height: 2rem;
	width: 2rem;
}

.footer__media_image {
		height: 2rem;
}

.section__image {
	@include fixedBackground;

	&_about {
		@include sectionImage('../../images/bgs/section_about.jpg');
	}

	&_contacts {
		@include sectionImage('../../images/bgs/section_contacts.jpg');
	}
}

.card__image {
	height: 15rem;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.card__images {
	position: relative;
	height: 20rem;
	
	.card__image_one {
		position: absolute;
		top: 1rem;
		left: -8rem;
		transition: all .6s ease;

		img {
			@include compositionImage;
		}

		&:hover {
			@include compositionImageHover();
		}
	}

	.card__image_two {
		position: absolute;
		top: 6rem;
		left: -5rem;
		transition: all .6s ease;

		img {
			@include compositionImage;
		}

		&:hover {
			@include compositionImageHover();
		}
	}

	.card__image_three {
		position: absolute;
		top: 9rem;
		left: -9rem;
		transition: all .6s ease;

		img {
			@include compositionImage;
		}
		
		&:hover {
			@include compositionImageHover();
		}
	}
}

.side-back_image {
	width: 12rem;
	height: 8rem;
}

.card__one_image {
	background-image: url('../../images/project_images/giphyMain.gif');
	background-size: contain;
	background-repeat: no-repeat;
}

.card__two_image {
	background-image: url('../../images/project_images/libraryMain.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.card__three_image {
	background-image: url('../../images/project_images/multilingoMain.png');
	background-size: cover;
}