.tech_icon {
	height: 2rem;
	width: 2rem;
}

.footer__media_image {
		height: 2rem;
}

.section__image {
	@include fixedBackground;

	&_about {
		@include sectionImage('../../images/bgs/section_about.jpg');
	}

	&_contacts {
		@include sectionImage('../../images/bgs/section_contacts.jpg');
	}
}

.card__image {
	height: 18rem;
}

.card__images_container {
	position: relative;
	height: 18rem;

	.card__images_one {
		position: absolute;
		top: -3rem;
		left: -12rem;
		transition: all .6s ease;

		img {
			@include compositionImage;
		}

		&:hover {
			@include compositionImageHover();
		}
	}

	.card__images_two {
		position: absolute;
		top: 2rem;
		left: -4rem;
		transition: all .6s ease;

		img {
			@include compositionImage;
		}

		&:hover {
			@include compositionImageHover();
		}
	}

	.card__images_three {
		position: absolute;
		top: 7rem;
		left: -10rem;
		transition: all .6s ease;

		img {
			@include compositionImage;
		}

		&:hover {
			@include compositionImageHover();
		}
	}
}

.side-back_image {
	width: 16rem;
	height: 12rem;
}

.card__one_image {
	background-image: url('../../images/project_images/giphyMain.gif');
	background-size: cover;
	background-position-x: center;
	background-repeat: no-repeat;
}

.card__two_image {
	background-image: url('../../images/project_images/libraryMain.jpg');
	background-size: cover;
	background-position-x: center;
	background-repeat: no-repeat;
}

.card__three_image {
	background-image: url('../../images/project_images/multilingoMain.png');
	background-size: cover;
}