.navigation {
   background-color: $background-color;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 999;
   
   &__left {
      display: flex;
      justify-content: left;
      align-items: center;

      .navigation__logo_image {
         height: 10vh;
      }
      .navigation__toggle-device {
         display: flex;
      }
   }
}