.navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   &__left {
      display: flex;
      justify-content: left;
      align-items: center;

      .navigation__logo_image {
         height: 10vh;
      }
      .navigation__toggle-device {
         display: flex;
      }
   }
}