@mixin compositionImage {
	height: 8rem;
	margin: 10px;
	box-shadow:  0 1.5rem 4rem rgba($black-color, .15);

	@include respond(tablet-landscape) {
		height: 6.7rem;
	}

	@include respond(phone) {
		width: 15rem;
		height: auto;
	}
}

@mixin compositionImageHover {
	outline: 4px solid $white-color;
	transform: scale(1.40) translateY(-.5rem);
	box-shadow: 2rem 2rem 4rem rgba($black-color, .5);
	z-index: 99;
}

@mixin formText {
	line-height: 1.3rem;
	padding: .3rem;
	font-family: 'Dosis', sans-serif;
	border: 1px solid $black-color;
	border-radius: 0 !important;
}

@mixin fixedBackground {
   height: 90vh;
	background-size: cover;
   background-attachment: fixed;
}

@mixin sectionImage($urlAddress) {
	background-image: url(#{$urlAddress});
	height: 35rem;

	@include respond(phone) {
		height: 20rem;
	}
}

@mixin respond($device) {
	@if $device == phone {
		@media (max-width: 37.5em) { @content };	// 600px
	}
	@if $device == tablet-portray {
		@media (max-width: 56.3em) { @content };	// 900px
	}
	@if $device == tablet-landscape {
		@media (max-width: 90em) { @content };	//1400px
	}
	@if $device == big-screen {
		 @media (min-width: 112.5) { @content };	//1800px
	}
}
