$primary-color: #002a38;
$primary-color-light: #118b94;
$secondary-color: #f7941d;
$secondary-color-light: #fab764;
$tertiary-color: #900019;
$tertiary-color-light: #FF3100;

$main-font-color: #434343;
$secondary-font-color: #ffffff;

$background-color: #f7f7f7;
$black-color: #000000;
$white-color: #ffffff;

$navigation-items-height: 4rem;

$cardWidth: calc((100% - 16rem) / 3);
