$primary-color: #002a38;
$secondary-color: #f7941d;
$tertiary-color: #900019;

$main-font-color: #434343;
$secondary-font-color: #ffffff;

$black-color: #000000;
$white-color: #ffffff;

$navigation-items-height: 4rem;

$cardWidth: calc((100% - 20rem) / 3);
